@{
    ViewBag.Title = "供应商管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mod-navbar">
    <div class="main-header">
        <div class="title">
            <h3>
                <a href="javascript:;"><i class="icon icon-list"></i></a>
                <a href="javascript:;">供应商管理</a>
            </h3>
        </div>
    </div>
    <div class="sub">
        <div class="sub_toolbar">
            <button class="btn btn-success btn-fancy btn-sm" onclick="uv.js_user_add(this)"><i class="glyphicon glyphicon-plus"></i> 创建用户</button>
        </div>
    </div>
</div>
<div class="navigator-results mCustomScrollbar" data-mcs-theme="dark">
    <div class="frame">
        <div class="ui-step-inner">
            <ol class="ui-step">
                <li class="active"><i>1</i>步骤一</li>
                <li><i>2</i>步骤二</li>
                <li><i>3</i>步骤三</li>
            </ol>
        </div>
        <div class="widget widget-mytask">
            <div class="body">
                <form class="form-horizontal aui" id="add_user_form" action="/User/Add" method="post">
                    <fieldset>
                        <div class="row mt30">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">账户名</label>
                                    <div class="col-md-7">
                                        <input type="text" name="UserName" class="form-control" datatype="*"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">密码</label>
                                    <div class="col-md-7">
                                        <input type="password" id="pwd1" name="Password" class="form-control" datatype="*6-16"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">确认密码</label>
                                    <div class="col-md-7">
                                        <input type="password" id="pwd2" name="Password1" class="form-control" datatype="*" recheck="Password"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">姓名</label>
                                    <div class="col-md-7">
                                        <input type="text" name="FullName" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">电话号码</label>
                                    <div class="col-md-7">
                                        <input type="text" name="PhoneNumber" class="form-control" datatype="m" ignore="ignore" errormsg="请输入正确的手机号码"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-xs-12">

                                <div class="form-group">
                                    
                                    <button type="button" class="btn btn-default btn-sm" id="cancel" data-dismiss="modal">后退</button>
                                    <button type="button" class="btn btn-primary btn-sm" id="sure">下一步</button>
                                    @Html.AntiForgeryToken()
                                </div>
                            </div>
                        </div>
                        
                        
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>